
body{ background-color: rgb(255, 255, 153);
}
/* div page container w/ maximum width */    
.page-container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  height: 1px;
}

/*div {border: solid red thin}*/
/*Nav Style*/
a{
    font-family: 'IBM Plex Sans', sans-serif;
    color: rgb(255, 204, 51);
    font-size: 18pt;
    letter-spacing: 2.5pt;
    text-decoration: none;
    font-weight: 600;
}
.adiv{
    width: 100%;
    height: 34px;
    display: inline-flex;
    justify-content: space-between;
    border: solid;
    border-width: 3pt;
    border-color: rgb(255, 204, 51);
    padding: 3px;
}
 .selectedlink{
    color: rgb(204 51 51);
    position: relative;
    }
a.e1:hover{
      color: rgb(204 51 51);
      position: relative;
    }
/*Headline 1 Positioning & Styling*/
h1{ width: 500px;
    font-family: 'Calistoga', cursive;
    font-size: 30pt;
    letter-spacing: 4pt;
    line-height: 36pt;
    margin: 0px;
    position: relative;
    top: 80px;
    left: 0px;

}
.h1outline{
        color: rgb(255, 255, 153);
        text-shadow:
        -1px -1px 0 #333366,
        1px -1px 0 #333366,
        -1px 1px 0 #333366,
        1px 1px 0 #333366;
}
.h1solid{
        color: rgb(51, 51, 102);
}
/*Headline 2 Positioning & Styling*/
h2{ width: 500px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: rgb(51, 51, 102);
    font-size: 16pt;
    font-weight: 500;
    letter-spacing: .25pt;
    line-height: 25pt;
    font-style: italic;
    margin: 0px;
    position: relative;
    top: 360px;
    left: 0px;
}
/*Paragraph Styling*/
p{  width: 500px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: rgb(51, 51, 102);
    font-size: 12pt;
    font-weight: 400;
    letter-spacing: .25pt;
    line-height: 14pt;
    margin: 0px;
    position: relative;
    top: -74px;
    left: 824px;
    width: 300px;
}
/*H3 Styling*/
h3{ width: 100px;
    font-family: 'Calistoga', cursive;
    font-size: 18pt;
    letter-spacing: 1.5pt;
    color: rgb(204, 51, 51);
    margin: 0px;
}
/*Button Styling*/
button{width: 100px;
    font-family: 'Calistoga', cursive;
    font-size: 18pt;
    letter-spacing: 1.5pt;
    color: rgb(204, 51, 51);
    margin: 0px;
    background-color: rgb(255, 255, 153);
    width: 100px;
    border-color: rgb(255, 255, 153);
    z-index: 1000;
    }
/*img styling & Positioning*/
.megaphone{
    width: 766px;
    height: 498px;
    position: relative;
    top: -400px;
    left: 200px;
}
.graphic{
    width: 110.4px;
    height: 106.56px;
    position: relative;
    top: -814px;
    left: -420px;
}
/*Record Module*/
.recordmodule{
    width: 120px;
    height: 174px;
    border: solid;
    border-width: 3pt;
    border-color: rgb(255, 204, 51);
    position: relative;
    top: -60px;
    left: 832px;
}
.record{
    position: relative;
    top: 2px;
    left: 10px;
}
.circle{
    position: relative;
    top: 4px;
    left: 40px;
    width: 120px;
}
.square{
    position: relative;
    top: -106px;
    left: 50px;
}
.triangle{
    position: relative;
    top: -94px;
    left: 50px;
}
.send{
    position: relative;
    top: -90px;
    left: 10px;
}

